**मठैराज स्वामी कि जै! जै!! जै!!!**

**What is python?**
- Python is the dyanamically typed  programming language which is first invented by Guido Van Rossum in 1991. It is multi-paradigm objected oriented  programming language.

There are different types of operation in the python.
->Arithmatic operation.

In [3]:
a = 43
b = 46
addition = a + b
addition

89

**Substraction operator**

In [4]:
a = 23
b = 20 
substraction = a - b
substraction

3

**Multiplication Operator**.

In [5]:
a = 20
b = 30 
mul = a * b
mul

600

**Division Operator**.

In [1]:
a = 23
b = 2
div = a/b
div

11.5

**Modulus Operator(To get the remainder while dividing two numbers)**

In [2]:
a = 23
b = 11
mod = a%b
mod

1

**floor Division: To get the quotient while dividing two numbers**.

In [3]:
a = 36
b = 8
FD = a // b
FD

4

**Exponent Operator(To find power of any number:)**

In [4]:
a = 5
b = 3
ex = a**b
ex

125

**Question 1**:

**Solving Multi-step problems Using Variables**:

A grocery store sells a bag of ice for $1.25, and makes  20% profit. If it sells 500 bags of ice. how much total profit does it make?

In [5]:
number_bags = 500
profit = 0.2
price_of_bags = 1.25
total_profit = number_bags *(profit *price_of_bags)
print("The total amount profit earn is:", total_profit)

The total amount profit earn is: 125.0

**Variables**:

While working with programming language such as python. Variable is used to store information. We think that variable as a container for storing data. The data stored within variable is called its value.

**Comments in code**:

Comments are providing the detail information about the code. with the help of comment its easy to understand the code to other.

**Types of Comments**.

- Inline And single line ( # is used start write a comments).

- multi_line comment(""" is used to start ).

**Evaluating conditions using python**

Evaluating conditions means evaluating either the expression is True or False. There are different types of condition operator in python.

- **> (If left operands is greater than right operands.)**

In [6]:
#Check two number
a = 20 
b = 40 
greater = a >b
greater

False

- **< (If left operands is less than the right operands).**

In [7]:
a = 50 
b = 70
less = a<b #This statement check the conditions.
less

True

- **>= (if left operands is greater than equal to right operands).**

In [8]:
a = 20 
b = 20 
c = a>=b
c

True

- **<= (If left operands is less than or equal to right opernads).**

In [9]:
a = 30 
b = 50
c = a<=b
c

True

- **== (If two operands are equals).**

In [ ]:
a = 30 
b = 40
c = a == b
c #Prints either the statement is True or False.

False

- **!= (If two operands are not equal to each other).**

In [11]:
a = 20 
b = 40
c = a != b
c # Note:The result from these statement are always in the form of True or False and (T or F are always is in uppercase).

True

- **Combining coditions with logical operator**.

More than one condition operator are combining with the help of logical operator. There are three types of logical operators( And , Or , Not) in python.

- **And (Is True if both the conditions are True.)**

In [12]:
age  = 25
has_Id = True

c = age >= 18 and has_Id #Check both of the condition.
c

True

- **or (Is True if atleast one of the condition is True).**

In [13]:
age = 34
has_Id = True

c = age<=18 or has_Id
c

True

- **not (This operator reverse the value of the condition).**

In [14]:
has_Id = True
c = not has_Id
c

False

**Storing Information using variable.**

Computer are useful for two purpose in programming : one is storing information(also known as data) and performing certain operations on stored data.

In [15]:
color = "Red" #color is the name of variable and red is its value.
color

'Red'

You can also assign values to multiple variables in a single statement by separating the variable names and values with commas.

In [16]:
color1,color2,color3 = "Red","Green", "Yellow"
color1 # To display the value of first variable.

'Red'

In [17]:
#To display the value of second variable.
color2

'Green'

In [18]:
# To display the value of third variable.
color3

'Yellow'

You can assign the same value to multiple variables by chaining multiple assignment operations within a single statement.

In [19]:
color1 = color2 = color3 = "Yellow"
color3

'Yellow'

Variable names can be short (`a`, `x`, `y`, etc.) or descriptive ( `my_favorite_color`, `profit_margin`, `the_3_musketeers`, etc.). However, you must follow these rules while naming Python variables:

* A variable's name must start with a letter or the underscore character `_`. It cannot begin with a number.
* A variable name can only contain lowercase (small) or uppercase (capital) letters, digits, or underscores (`a`-`z`, `A`-`Z`, `0`-`9`, and `_`).
* Variable names are case-sensitive, i.e., `a_variable`, `A_Variable`, and `A_VARIABLE` are all different variables.

**Syntax:** The syntax of a programming language refers to the rules that govern the structure of a valid instruction or statement. If a statement does not follow these rules, Python stops execution and informs you that there is a syntax error. You can think of syntax as the rules of grammar for a programming language.

In [ ]:
a variable = 23 # invalid syntax.

SyntaxError: invalid syntax (1442854326.py, line 1)

In [25]:
a_variable = 23
is_today_saturday = False
type(a_variable)
type(is_today_saturday)

bool

Python has several built-in data types for storing different kinds of information in variables. Following are some commonly used data types:

1. Integer
2. Float
3. Boolean
4. None
5. String
6. List
7. Tuple
8. Dictionary

Integer, float, boolean, None, and string are *primitive data types* because they represent a single value. Other data types like list, tuple, and dictionary are often called *data structures* or *containers* because they hold multiple pieces of data together.

### Integer:

Integers represent positive or negative whole numbers, from negative infinity to infinity. Note that integers should not include decimal points. Integers have the type `int`.

In [26]:
current_year = 2026
current_year

2026

### Float

Floats (or floating-point numbers) are numbers with a decimal point. There are no limits on the value or the number of digits before or after the decimal point. Floating-point numbers have the type `float`.

In [27]:
pi = 3.14
pi

3.14

In [28]:
type(pi)

float

Note that a whole number is treated as a float if written with a decimal point, even though the decimal portion of the number is zero.

In [29]:
a_number = 23.0
type(a_number)

float

While performing arithmetic operations, integers are automatically converted to `float`s if any of the operands is a `float`. Also, the division operator `/` always returns a `float`, even if both operands are integers. Use the `//` operator if you want the result of the division to be an `int`.

In [31]:
type(23 * 3.0)

float

In [32]:
type(23*4)

int

In [ ]:
type(100/10) #In division operation the final result is always float.

float

In [34]:
type(100//10) #The floor division always give integer value while dividing two numbers.

int

### Boolean

Booleans represent one of 2 values: `True` and `False`. Booleans have the type `bool`.

In [35]:
is_today_saturday = False
is_today_saturday

False

In [36]:
type(is_today_saturday)

bool

In [37]:
cost_of_ice_bag = 30
is_expensive = cost_of_ice_bag >= 10
is_expensive

True

### None

The None type includes a single value `None`, used to indicate the absence of a value. `None` has the type `NoneType`. It is often used to declare a variable whose value may be assigned later.

In [39]:
nothing = None
type(nothing)

NoneType

### String

A string is used to represent text (*a string of characters*) in Python. Strings must be surrounded using quotations (either the single quote `'` or the double quote `"`). Strings have the type `string`.

In [40]:
today = 'Friday'

In [41]:
today

'Friday'

In [42]:
type(today)

str

### List

A list in Python is an ordered collection of values. Lists can hold values of different data types and support operations to add, remove, and change values. Lists have the type `list`.

To create a list, enclose a sequence of values within square brackets `[` and `]`, separated by commas.

A list in Python is a data type used to store multiple values in a single variable. Lists are ordered, mutable (changeable), and allow duplicate values.

In [43]:
fruits = ['Banana', 'Apple', 'Chery']
fruits

['Banana', 'Apple', 'Chery']

In [61]:
numbers = [1, 2, 3, 4]
names = ["Alice", "Bob", "Charlie"]
mixed = [1, "Hello", 3.5]
numbers

[1, 2, 3, 4]

In [ ]:
names

[1, 'Hello', 3.5]

In [62]:
mixed

[1, 'Hello', 3.5]

In [63]:
numbers.append(9)
numbers

[1, 2, 3, 4, 9]

In [64]:
numbers[1] = 90
numbers

[1, 90, 3, 4, 9]

In [65]:
numbers.pop() #To remove last elements of the list.
numbers

[1, 90, 3, 4]

*Looping in the list*

In [67]:
for item in numbers:
    print(item)

1
90
3
4

In [69]:
for num in numbers: # num is the variable name that holds single value and display it one by one.
    print(num)

1
90
3
4

**List features**

- Ordered.
- mutable.
- Allows duplicates.
- Indexed.

**List slicing**

*Syntax*

list_name[start : end : step]

where start index is inclusive but end index is excluded. step is the interval between each number.
- *start* → starting index (inclusive)

- *end* → ending index (exclusive)

- *step* → gap between elements

In [70]:
numbers = [0, 1, 2, 3, 4, 5]

numbers[1:4]     # [1, 2, 3]
numbers[:3]      # [0, 1, 2]
numbers[2:]      # [2, 3, 4, 5]

[2, 3, 4, 5]

In [ ]:
#Negative slicing starts from the last elemnts of the list.
numbers[-4:-1]   # [2, 3, 4]

[2, 3, 4]

**Step in Slicing**

In [72]:
numbers[::2]     # [0, 2, 4]
numbers[1::2]    # [1, 3, 5]

[1, 3, 5]

**Reverse list**

In [ ]:
numbers[::-1]

[5, 4, 3, 2, 1, 0]

### Tuple

A tuple is an ordered collection of values, similar to a list. However, it is not possible to add, remove, or modify values in a tuple. A tuple is created by enclosing values within parentheses `(` and `)`, separated by commas.

> Any data structure that cannot be modified after creation is called *immutable*. You can think of tuples as immutable lists.

In [74]:
fruits = ('Banaba', 'Dates', 'Cherry')
fruits

('Banaba', 'Dates', 'Cherry')

In [75]:
len(fruits)

3

In [76]:
fruits[-2]

'Dates'

In [78]:
'Dates' in fruits

True

Tuples are often used to create multiple variables with a single statement.

In [79]:
point = (3, 4)

In [80]:
point_x, point_y = point

In [81]:
point_x

3

### Dictionary

A dictionary is an unordered collection of items. Each item stored in a dictionary has a key and value. You can use a key to retrieve the corresponding value from the dictionary.  Dictionaries have the type `dict`.

Dictionaries are often used to store many pieces of information e.g. details about a person, in a single variable. Dictionaries are created by enclosing key-value pairs within braces or curly brackets `{` and `}`.

In [82]:
my_information = {
    'Name': 'Kamal',
    'Sex' : 'Male',
    'age' : '32',
    'Is_married' : False,
    'Address' : '19 , Markstreet'
}
my_information

{'Name': 'Kamal',
 'Sex': 'Male',
 'age': '32',
 'Is_married': False,
 'Address': '19 , Markstreet'}

In [83]:
type(my_information)

dict

In [84]:
my_information['Name']

'Kamal'

In [85]:
my_information.get('Name') # To display the value associated with that keys using get method.

'Kamal'

In [87]:
my_information.pop('Address')

'19 , Markstreet'

In [88]:
my_information

{'Name': 'Kamal', 'Sex': 'Male', 'age': '32', 'Is_married': False}

In [89]:
my_information.keys()

dict_keys(['Name', 'Sex', 'age', 'Is_married'])

In [90]:
my_information.values()

dict_values(['Kamal', 'Male', '32', False])

### Set

A set in Python is a collection of unordered, unique, and mutable elements.

- Unordered: Elements have no specific position; indexing is not allowed.

- Unique: Duplicate elements are automatically removed.

- Mutable: You can add or remove elements after creation.

- Data types allowed: Only immutable types like numbers, strings, and tuples can be elements of a set.

In [92]:
# Using curly braces
my_set = {1, 2, 3}

# Using set() constructor
my_set2 = set([1, 2, 2, 3])

In [93]:
my_set

{1, 2, 3}

In [94]:
my_set2

{1, 2, 3}

**Key Features:**

- No duplicate values

- Supports mathematical operations like union, intersection, difference

- Useful for membership testing (in keyword)

- Cannot be indexed or sliced

In [95]:
student_ids = [101, 102, 103, 101, 104]
unique_ids = set(student_ids)
print(unique_ids)  # Output: {101, 102, 103, 104}

{104, 101, 102, 103}

**Find common items in the set(Intersection)**

In [97]:
team_A = {"Alice", "Bob", "Charlie"}
team_B = {"Bob", "David", "Charlie"}

common_members = team_A & team_B
print(common_members)  # Output: {'Bob', 'Charlie'}

{'Bob', 'Charlie'}

**Finds unique words in the documents**

In [98]:
text = "python is easy and python is popular"
words = text.split()
unique_words = set(words)
print(unique_words)

{'easy', 'popular', 'and', 'is', 'python'}

**Union**

In [99]:
day1 = {"Alice", "Bob", "Charlie"}
day2 = {"Bob", "Charlie", "David"}

all_attendees = day1 | day2  # Union
print(all_attendees)  # {'Alice', 'Bob', 'Charlie', 'David'}

{'Bob', 'David', 'Alice', 'Charlie'}

**Cheking membership efficiently**

In [100]:
emails = {"alice@example.com", "bob@example.com"}
if "bob@example.com" in emails:
    print("Email exists")

Email exists